<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
</head>

<body>
    <h1>代辦事項列表</h1>

    {% for todo in todos %}
    <div class="todo-field">
        <small class="created">建檔時間：{{todo.created}}</small>
        <div class="title">{{todo.title}}</div>
        {% if todo.content %}
        <div class="content">內容：{{todo.content|linebreaks}}</div>
        {% endif %}
        <span class="completed">完成狀態：
            {% if todo.completed %}
            已完成
            {% else %}
            未完成
            {% endif %}</span>
        <span class="important">重要性：
            {% if todo.important %}
            ★★★
            {% else %}
            ☆
            {% endif %}</span>
        <a href="{% url 'todo-delete' todo.id %}">刪除</a>
        <a href=""></a>
    </div>
    {% endfor %}
</body>

</html>